.layout{
    margin: 0 auto
}
a {
    text-decoration: none;
    color: #666
}
.common{
    width: 70%;
    height: 700px;
    background: #E6F4FD;
    //padding-top: 20px;
}
.breadName{
    font-size: 16px;
    line-height: 50px;
    width: 70%;
}