@media (min-width:640px) and (max-width: 1050px) {
    .handle{
        .people-select{
            line-height: 3;
            font-size: 14px
        }
        .handle-info{
            span{
                display: inline
            }
            .handle-date{
                .ant-input{
                    width: 20%
                }
            }
            li{
                margin-top: 20px;
            }
            .date{
                width: 70%;
                .query-btn{
                    left: 100px
                }
            }
        }
    }
}

@media (min-width:1050px) {
    .handle{
        .people-select{
            line-height: 3;
            font-size: 14px
        }
        .handle-info{
            span{
                display: inline
            }
            .handle-date{
                .ant-input{
                    width: 21%
                }
            }
            li{
                margin-top: 20px;
                .resultSelect{
                    .ant-select-arrow{
                        display: inline-block;
                        width: 9px;
                        height: 9px
                    }
                }
            }
            .date{
                width: 70%;
                .query-btn{
                    left: 200px
                }
            }
        }
    }
}