
@media (min-width:640px) and (max-width: 1050px) {
    .homeContent{
        width: 100%;
        .header{
            height: 60px;
            width: 100%;
            background: #0086C9;
        }
        .top{
            height: 60px;
            width: 960px;
            padding-left: 10px;
            position: relative;
            .subMenuBk{
                color:#fff;
                display:block;
                width:100px;
                height:100%;
                font-size: 14px;
                text-align: center
            }
            h1{
                color: white;
                height: 100%;
                width: 150px;
                line-height: 60px;
                position: absolute;
                left: 0;
                font-size: 16px
            }
            .userInfo{
                position: absolute;
                width: 320px;
                height: 100%;
                right: 0;
                li{
                    float: left;
                    height: 100%;
                    line-height: 60px;
                    font-size: 14px;
                    color: white;
                    margin-right: 5px;
                    cursor: pointer;
                    width:100px ;
                    text-align: center;
                }
                li:nth-child(2){
                    width: 150px
                }
                li:nth-child(3){
                    
                    width: 50px
                }
            }
            .menu{
                width:440px;
                height:61px;
                position:absolute;
                left:200;
                background:#0086C9;
                top:0
            }
            .ant-menu-horizontal{
                z-index: 100
            }
            .ant-menu-submenu{
                height: 100%;
                .ant-menu-submenu-title{
                    line-height: 60px;
                    color: white;
                    font-size: 16px;
                };
            }
        }
    }
    .content{
        width: 960px;
        margin: 0 auto;
        //border: 1px solid #ECECEC;
        background: white;
        .breadName{
            font-size: 16px;
            line-height: 50px;
            margin-left: 20px;
        }
        .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab{
            border-bottom: 1px solid #666
        }
    }
}

@media (min-width:1050px) {
    .homeContent{
        width: 100%;
        position: fixed;
        top:0;
        z-index: 100;
        .header{
            height: 60px;
            width: 100%;
            background: #0086C9;
        }
        .top{
            height: 60px;
            max-width: 1350px;
            min-width: 1050px;
            padding-left: 20px;
            position: relative;
            .subMenuBk{
                color:#fff;
                display:block;
                width:100%;
                height:100%;
                padding:0px 10px;
                font-size: 18px
            }
            h1{
                color: white;
                height: 100%;
                width: 200px;
                line-height: 60px;
                position: absolute;
                left: 0;
            }
            .userInfo{
                position: absolute;
                width: 400px;
                height: 100%;
                right: 0;
                li{
                    float: left;
                    height: 100%;
                    line-height: 60px;
                    font-size: 16px;
                    color: white;
                    margin-right: 38px;
                }
                li:last-child{
                    padding: 0px 10px 0px 10px;
                    margin-right: 0;
                    cursor: pointer;
                }
                li:last-child:hover{
                    background: rgb(0, 105, 159)
                }
            }
            .menu{
                width:500px;
                height:61px;
                position:absolute;
                left:200px;
                background:#0086C9;
                top:0;
                .ant-menu-submenu{
                    .ant-menu{
                        li{
                            a{
                                text-align: center
                            }
                            a:hover{
                                color: white;
                            } 
                        }
                        li:hover{
                            background: #0086C9;
                        }
                    }
                }
            }
            .ant-menu-horizontal{
                z-index: 100
            }
            .ant-menu-submenu{
                height: 100%;
                .ant-menu-submenu-title{
                    line-height: 60px;
                    color: white;
                    font-size: 16px;
                };
            }
        }
    }
    
    .content{
        width: 1350px;
        margin: 0 auto;
        //border: 1px solid #ECECEC;
        background: white;
        .breadName{
            font-size: 16px;
            line-height: 50px;
            margin-left: 20px;
        }
        .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab{
            border-bottom: 1px solid #666
        }
    }
}

.title{
    width: 100%;
    height: 30px;
    .title-list{
        line-height: 20px;
        border: 1px solid #666;
        border-radius: 3px;
        color: #666;
        display: inline-block;
        margin-left: 20px;
        span:hover{
            color: #000
        }
    }
    .title-list:hover{
        background: #0271BC;
        color: white
    }
}
.active{
    color: #0566FA;
    font-weight: bolder
}