
@media (min-width:640px) and (max-width: 1050px) {
    .leadingResult{
        .ant-pagination{
            float: none;
            text-align: center
        }
        .result-table{
            width: 960px;
            margin: 0 auto;
            th{
                text-align: center;
                span{
                    font-size: 14px;
                }
            }
            tr {
                td{
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width:1050px) {
    .leadingResult{
        .ant-pagination{
            float: none;
            text-align: center
        }
        .result-table{
            width: 1300px;
            margin: 0 auto;
            th{
                text-align: center;
                span{
                    font-size: 14px;
                }
            }
            tr {
                td{
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }
    .fileName{
         position: absolute;
        line-height: 30px
    }
    .upLoadFile-btn{
        overflow: hidden;
        .ant-upload-list{
            height: 30px;
            width: 50%;
            float: left;
            border: 1px solid #D9D9D9;
            margin-left: 60px;
            margin-right: 30px;
            .ant-upload-list-item{
                margin-top: 2px;
            }
        }
    }
    
}