.switchFile{
    margin: 20px 0 20px;
    background: #EEF1F6;
    // span{
    //     display: inline-block;
    // }
    .switchFile-select{
        float: left;
        padding-left: 75px;
        .select-name{
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
        }
        .selectSecond{
            display: inline-block;
            margin-left: 50px
        }
    }
    .ant-select{
        width: 150px
    }
}
.File{
    margin: 20px 0px 20px 0px;
    background: #EEF1F6;
    padding-left: 75px;
    //overflow: hidden;
    height: 50px;
    position: relative;
    span{
        font-weight: bold;
        font-size: 14px;
        line-height: 50px;
    }
    a{
        display: inline-block;
        margin: 0px 20px 0px 20px;
        font-size: 14px;
        line-height: 50px;
        height: 50px
    }
    .fileList{
        width:1170px;
        max-height: 50px;
        min-height: 50px;
        position: absolute;
        left: 180;
        overflow: hidden;
        background: #EEF1F6;
        cursor: pointer;
        z-index: 10;
        transition:max-height 1s;
        -moz-transition:max-height 1s; /* Firefox 4 */
        -webkit-transition:max-height 1s; /* Safari and Chrome */
        -o-transition:max-height 1s; /* Opera */
        .icon{
            position:absolute;
            right:30;
            z-index:1000;
            top:20;
            transition:all 2s;
            -moz-transition:all 2s; /* Firefox 4 */
            -webkit-transition:all 2s; /* Safari and Chrome */
            -o-transition:all 2s; /* Opera */
        }
    }
    .fileList:hover{
        max-height: 1000px;
        transition:max-height 2s;
        -moz-transition:max-height 2s; /* Firefox 4 */
        -webkit-transition:max-height 2s; /* Safari and Chrome */
        -o-transition:max-height 2s; /* Opera */
        .icon{
            transform: rotate(180deg);
            transition:all 2s;
            -moz-transition:all 2s; /* Firefox 4 */
            -webkit-transition:all 2s; /* Safari and Chrome */
            -o-transition:all 2s; /* Opera */
        }
    }
}

.refuse-modal{
    .ant-modal-footer{
        text-align: center;
        .ant-btn{
            margin-left: 30px;
            width: 100px
        }
    }
}
.edit-modal{
    .ant-modal-body{
        text-align: center;
        .bankModal{
            label{
                font-weight: bold;
            }
                .ant-input{
                    width: 80%;
                    margin-bottom: 20px;
                    height: 35px
                }
        }
    }
}