.upLoad{
    .handle-block {
        .title {
            display: inline-block;
            margin-right: 10px;
            text-align: right;
        }
        .upLoad-btn {
            .ant-upload {
                float: right;
            }
            .ant-upload-list {
                display: inline-block;
                height: 26px;
                width: 200px;
                vertical-align: middle;
                margin-right: 20px;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                .ant-upload-list-item {
                    margin-top: 0;
                }
            }
        }
    }
    .ant-pagination {
        float: none;
        text-align: center;
    }
}