.upLoad{
    .handle-block {
        .upLoad-btn {
            margin-left: 10px;
            font-size: 16px;
            &.upLoad-submit {
                margin-left: 20px;
            }
            .ant-upload-list {
                height: 30px;
                margin-left: 20px;
            }
        }
    }
    .ant-pagination {
        float: none;
        text-align: center;
    }
}